<router-outlet/>

<div class="w-screen h-screen flex flex-col items-center justify-center space-y-8 bg-gray-900">
  <h1 class="font-bold text-5xl text-white">Verb Finder</h1>
  <div class="flex space-x-3">
    <input 
      type="text" 
      class="w-80 h-12 font-semibold text-white px-4 rounded-lg bg-slate-800 focus:outline-none"
      placeholder="Search verb ..."
      [(ngModel)]="inputValue"
      (keyup.enter)="processInput()"
    >
    <button 
      class="w-28 h-12 flex items-center justify-center font-semibold text-white px-3 rounded-lg bg-gradient-to-r from-[#bc4e9c] to-[#f80759]"
      (click)="processInput()"
    >
      @if(!isLoading()) {
        Search
      } @else {
        <i class="gg-spinner"></i>
      }
    </button>
  </div>

  @if(response(); as response) {
    <div class="text-white text-center space-y-4">
      <div class="">
        <h2 class="text-md italic">Infinitive</h2>
        <p class="text-xl font-bold">{{ response.infinitive }}</p>
      </div>
      <div>
        <h2 class="text-md italic">Simple Past</h2>
        <p class="text-xl font-bold">{{ response.simple_past }}</p>
      </div>
      <div>
        <h2 class="text-md italic">Past Participle</h2>
        <p class="text-xl font-bold">{{ response.past_participle }}</p>
      </div>
      <div>
        <h2 class="text-md italic">Spanish Translation</h2>
        <p class="text-xl font-bold">{{ response.spanish_translation }}</p>
      </div>
    </div>
  }
</div>