<router-outlet/>

<div class="w-screen h-screen content-center text-center bg-gray-900">
  <h1 class="font-bold text-5xl text-white">Verb Finder</h1>
  <div>
    <input type="text" [(ngModel)]="inputValue" placeholder="Enter some text...">
    <button (click)="processInput()">Submit</button>
  </div>

  @if(response) {
    <p>Infinitive: {{ response.infinitive }}</p>
    <p>Simple Past: {{ response.simple_past }}</p>
    <p>Past Participle: {{ response.past_participle }}</p>
    <p>Spanish Translation: {{ response.spanish_translation }}</p>
  }
</div>